<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TICI</key>
	<array>
		<string>1.txt</string>
		<string>2.txt</string>
		<string>3.txt</string>
	</array>
	<key>TICII</key>
	<array>
		<string>4.txt</string>
		<string>5.txt</string>
	</array>
	<key>TICIII</key>
	<array>
		<string>6.txt</string>
		<string>7.txt</string>
	</array>
	<key>TICIVSI</key>
	<array>
		<string>8.txt</string>
		<string>9.txt</string>
		<string>10.txt</string>
		<string>11.txt</string>
	</array>
	<key>TICIVSII</key>
	<array>
		<string>12.txt</string>
		<string>13.txt</string>
		<string>14.txt</string>
		<string>15.txt</string>
		<string>16.txt</string>
		<string>17.txt</string>
	</array>
	<key>TICIVSIII</key>
	<array>
		<string>18.txt</string>
		<string>19.txt</string>
		<string>20.txt</string>
		<string>21.txt</string>
		<string>22.txt</string>
		<string>23.txt</string>
		<string>24.txt</string>
		<string>25.txt</string>
	</array>
	<key>TICIVSIV</key>
	<array>
		<string>26.txt</string>
		<string>27.txt</string>
	</array>
	<key>TICIVSV</key>
	<array>
		<string>28.txt</string>
	</array>
	<key>TICVII</key>
	<array>
		<string>55.txt</string>
		<string>56.txt</string>
		<string>57.txt</string>
		<string>58.txt</string>
		<string>59.txt</string>
		<string>60.txt</string>
	</array>
	<key>TICVISI</key>
	<array>
		<string>46.txt</string>
		<string>47.txt</string>
		<string>48.txt</string>
		<string>49.txt</string>
		<string>50.txt</string>
	</array>
	<key>TICVISII</key>
	<array>
		<string>51.txt</string>
		<string>52.txt</string>
		<string>53.txt</string>
	</array>
	<key>TICVISIII</key>
	<array>
		<string>54.txt</string>
	</array>
	<key>TICVSI</key>
	<array>
		<string>29.txt</string>
	</array>
	<key>TICVSII</key>
	<array>
		<string>30.txt</string>
		<string>31.txt</string>
		<string>32.txt</string>
		<string>33.txt</string>
		<string>34.txt</string>
		<string>35.txt</string>
	</array>
	<key>TICVSIII</key>
	<array>
		<string>36.txt</string>
		<string>37.txt</string>
		<string>38.txt</string>
	</array>
	<key>TICVSIV</key>
	<array>
		<string>39.txt</string>
		<string>40.txt</string>
		<string>41.txt</string>
	</array>
	<key>TICVSV</key>
	<array>
		<string>42.txt</string>
		<string>42-A.txt</string>
	</array>
	<key>TICVSVI</key>
	<array>
		<string>43.txt</string>
		<string>44.txt</string>
		<string>45.txt</string>
	</array>
	<key>TII</key>
	<array>
		<string>61.txt</string>
		<string>62.txt</string>
		<string>63.txt</string>
		<string>64.txt</string>
		<string>65.txt</string>
		<string>66.txt</string>
		<string>67.txt</string>
		<string>68.txt</string>
		<string>69.txt</string>
		<string>70.txt</string>
		<string>71.txt</string>
		<string>72.txt</string>
		<string>73.txt</string>
		<string>74.txt</string>
		<string>75.txt</string>
		<string>76.txt</string>
		<string>77.txt</string>
		<string>78.txt</string>
		<string>79.txt</string>
		<string>80.txt</string>
	</array>
	<key>TIIICI</key>
	<array>
		<string>81.txt</string>
		<string>82.txt</string>
		<string>83.txt</string>
		<string>84.txt</string>
		<string>85.txt</string>
		<string>86.txt</string>
		<string>87.txt</string>
		<string>88.txt</string>
		<string>89.txt</string>
		<string>90.txt</string>
	</array>
	<key>TIIICII</key>
	<array>
		<string>91.txt</string>
		<string>92.txt</string>
		<string>93.txt</string>
		<string>94.txt</string>
		<string>95.txt</string>
		<string>96.txt</string>
		<string>97.txt</string>
		<string>98.txt</string>
		<string>99.txt</string>
		<string>100.txt</string>
	</array>
	<key>TIIICIII</key>
	<array>
		<string>101.txt</string>
		<string>102.txt</string>
	</array>
	<key>TIIICIV</key>
	<array>
		<string>103.txt</string>
		<string>104.txt</string>
	</array>
	<key>TIV</key>
	<array>
		<string>105.txt</string>
		<string>106.txt</string>
	</array>
	<key>TV</key>
	<array>
		<string>107.txt</string>
		<string>108.txt</string>
	</array>
	<key>TVI</key>
	<array>
		<string>109.txt</string>
		<string>110.txt</string>
		<string>111.txt</string>
		<string>112.txt</string>
		<string>113.txt</string>
		<string>114.txt</string>
		<string>115.txt</string>
		<string>116.txt</string>
		<string>117.txt</string>
		<string>118.txt</string>
		<string>119.txt</string>
	</array>
</dict>
</plist>
